*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:rgb(190, 233, 190);
    font-family: 'Metal Mania', cursive;
}
.conteiner{
    margin: auto;
    max-width: 500px;
}
.cal{
    margin-top: 30px;
    background: rgb(45, 46, 39);
    height: 335px;
}
    
#resultInput{
    width:480px;
    font-family: 'Fredoka One', cursive;
    margin: 10px;
    margin-top: 15px;
    padding: 10px;
    border-width: 0;
    background: rgb(143, 161, 156);
    color: rgb(14, 13, 13);
}
.operator{
    margin-left: 9.5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    padding:10px ;
    background: rgb(117, 124, 117);
    display: inline-flex;
    width: 22%;
    justify-content: center;
}
.nothing{
    background-color: transparent;
}
.operator:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 2px 2px 2px rgb(95, 185, 226);
}